<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/LOGO.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/84437e9073.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/carrusel.css">
    <title>El Bodegon</title>
</head>
<body>
    <header>
        <!-- --------------------------incio carrusel-------------------------------------- -->
        <div id="ContenDeCarrusel">
            <div class="itemCarrusel" >
                <div class="imagenesCarrusel" id="img1">
                <img src="/img/parrilla1.jpg" alt="">
                </div>
            
                <div class="flechasCarrusel">
                <a href="#img3">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
                <a href="#img2">
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                </div>
            </div>
        
            <div class="itemCarrusel">
                <div class="imagenesCarrusel" id="img2">
                <img src="/img/Parrilla6.jpg" alt="">
                </div>
            
                <div class="flechasCarrusel">
                <a href="#img1">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
                <a href="#img3">
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                </div>
            </div>
    
                
            <div class="itemCarrusel" >
                <div class="imagenesCarrusel" id="img3">
                <img src="/img/pariila3.jpg" alt="">
                </div>
            
                <div class="flechasCarrusel">
                <a href="#img2">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
                <a href="#img1">
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                </div>
            </div>
        </div>
<!-- ------------------------------------fin carrusel-------------------------------------- -->
        <nav class="nav-var">
            <img src="/img/LOGO.png" alt="lgo" width="10%" id="logo">
            <div>
                <ul>
                    <li><a href="#"></a>Menu</li>
                    <li><a href="#"></a>Recetas</li>
                    <li><a href="#"></a>Nosotros</li>
                    <li><a href="#contacto">Contacto</a></li>
                    <li><a href="#"></a>Carrito</li>
                    <li><a href="#"></a>Login</li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <!-- ------------------Nuestras Especialidades--------------------------- -->        
        <div class="sec-produ">
                    <h2>Nuestras Especialidades</h2>
                    <section>
                        <article class="productos">
                            <img src="\img\Productos-imagen.jpg" alt="imagen-del-producto">
                            <div class="info-produ">
                                <p>#Producto</p>
                                <p id="precio">$Precio</p>
                                <button><i class="fa-solid fa-cart-shopping"></i></button>
                            </div>
                        </article>
                        <br>
                        <article class="productos">
                            <img src="\img\Productos-imagen.jpg" alt="imagen-del-producto">
                            <div class="info-produ">
                                <p>#Producto</p>
                                <p id="precio">$Precio</p>
                                <button><i class="fa-solid fa-cart-shopping"></i></button>
                            </div>
                        </article>
                        <article class="productos">
                            <img src="\img\Productos-imagen.jpg" alt="imagen-del-producto">
                            <div class="info-produ">
                                <p>#Producto</p>
                                <p id="precio">$Precio</p>
                                <button><i class="fa-solid fa-cart-shopping"></i></button>
                            </div>
                        </article>
                        <br>
                        <article class="productos">
                            <img src="\img\Productos-imagen.jpg" alt="imagen-del-producto">
                            <div class="info-produ">
                                <p>#Producto</p>
                                <p id="precio">$Precio</p>
                                <button><i class="fa-solid fa-cart-shopping"></i></button>
                            </div>
                        </article>
            </section>
            <!-- --------------------------Comidas----------------------- -->
            <h2>comidas</h2>
            <section>
                <article class="productos">
                    <img src="\img\Productos-imagen.jpg" alt="imagen-del-producto">
                    <div class="info-produ">
                        <p>#Producto</p>
                        <p id="precio">$Precio</p>
                        <button><i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </article>
                <br>
                <article class="productos">
                    <img src="\img\Productos-imagen.jpg" alt="imagen-del-producto">
                    <div class="info-produ">
                        <p>#Producto</p>
                        <p id="precio">$Precio</p>
                        <button><i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </article>
                <article class="productos">
                    <img src="\img\Productos-imagen.jpg" alt="imagen-del-producto">
                    <div class="info-produ">
                        <p>#Producto</p>
                        <p id="precio">$Precio</p>
                        <button><i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </article>
                <br>
                <article class="productos">
                    <img src="\img\Productos-imagen.jpg" alt="imagen-del-producto">
                    <div class="info-produ">
                        <p>#Producto</p>
                        <p id="precio">$Precio</p>
                        <button><i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </article>
    </section>
        </div>
        <!-- ------------------------pedi aca------------------------------ -->
        <div id="pedi-aca">
            <h2 id="pedi-h2">El Bodegon</h2>
            <button id="boton-pedi">Pedi aca</button>
        </div>
        <!-- ------------------------contacto------------------------------ -->
        <h2 id="contac-h2">Contacto</h2>
        <div class="sec-contacto">
            <div id="contacto">
                <i class="fa-solid fa-location-dot"></i>
                <p>Ubicacion</p>
                <p><i class="fa-solid fa-phone"></i>Telefono</p>
                <p><i class="fa-brands fa-whatsapp"></i>WhatsApp</p>
                <p><i class="fa-solid fa-envelope"></i>email</p>
            </div>
            <form class="formulario">
                <div class="flex-for-chico">
                    <input type="text" name="name" placeholder="Nombre" required id="nombre">
                    <input type="text" name="Celular" placeholder="Telefono" required id="telefono">
                </div>
                <input type="email" name="email" placeholder="Direccion de correo electronico" required id="mail">
                <input type="tel" name="consulta" placeholder="Mensaje" required id="mensaje">
                <input type="submit" name="enviar" value="Enviar" id="boton-enviar">
            </form>
        </div>
    </main>
    <!--  --------------------------footer------------------------------- -->
    <footer>
        <p>El Bodegon, Argentina</p>
        <p>Copyright © 2023 Todos los derechos reservados.</p>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
    </footer>
</body>
</html>